<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<!-- {{ light}}
{{now_light}} -->
<a href='/dbtest'>Button</a>
<img src="{{tmp}}" alt="">
</body>
</html>